@model IEnumerable<Application.Models.Employee>

@{ 
    ViewBag.Title = "Employees";
}

<h1>Employees</h1>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Salary (Net)</th>
        <th>Salary (Gross)</th>
    </tr>

@foreach (var employee in Model)
{
    <tr>
        <td>@employee.Name</td>
        <td>@employee.Surname</td>
        <td>@employee.Salary</td>
        <td>NaN</td>
    </tr>
}

</table>