@model Application.Models.Employee

@{ 
    ViewBag.Title = "Employees";
}

<h1>Employees</h1>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Salary (Net)</th>
        <th>Salary (Gross)</th>
    </tr>
    <tr>
        <td>Deividas</td>
        <td>Popelskis</td>
        <td>NaN</td>
        <td>NaN</td>
    </tr>
</table>